atomicwrites==1.3.0
attrs==19.1.0
aws-requests-auth==0.4.2
chaostoolkit==1.3.0
chaostoolkit-aws==0.11.2
chaostoolkit-lib==1.7.0
Click==7.0
click-plugins==1.1.1
entrypoints==0.3
flake8==3.7.8
importlib-metadata==0.23
isort==4.3.21
mccabe==0.6.1
more-itertools==7.2.0
packaging==19.2
pluggy==0.13.0
py==1.8.0
pycodestyle==2.5.0
pyflakes==2.1.1
pyparsing==2.4.2
pytest==5.1.3
python-json-logger==0.1.11
PyYAML==5.1.2
wcwidth==0.1.7
zipp==0.6.0
